/** Main **/

header > div {
  display: flex;
  padding-left: 10%;
  background-color: rgb(148, 143, 143);
  color: red;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}

.content > section {
  width: 40%;
}

.content > section p {
  padding: 3%;
  margin: 0 auto;
}

section > h3 {
  border-bottom: 0.02em;
  border-bottom-color: gray;
  border-bottom-style: solid;
}

section h4 {
  padding: 3%;
  margin: 0 auto;
}

section > h3::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: red;
  margin-right: 5px;
  border-radius: 50%;
}

/** Contact **/

#contact {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10%;
}

#contact > h3 {
  display: none;
}

.contact {
  display: flex;
  margin: 0;
  padding: 0;
}
.contact-type {
  background-color: red;
  color: white;
  width: 150px;
}
.contact-value {
  background-color: black;
  color: red;
  margin: 0;
  padding: 3px;
  width: 200px;
}

.contact-value > a {
  text-decoration: none;
  color: red;
}

/** Skills **/

.skill {
  background: #ccc;
  margin: 3px;
  padding: 5px;
}

.skill span {
  width: 0;
  background: red;
  display: block;
  padding: 5px;
  color: white;
  line-height: 1;
}

.skill[data-skill="1"] span {
  width: 10%;
}
.skill[data-skill="2"] span {
  width: 20%;
}
.skill[data-skill="3"] span {
  width: 30%;
}
.skill[data-skill="4"] span {
  width: 40%;
}
.skill[data-skill="5"] span {
  width: 50%;
}
.skill[data-skill="6"] span {
  width: 60%;
}
.skill[data-skill="7"] span {
  width: 70%;
}
.skill[data-skill="8"] span {
  width: 80%;
}
.skill[data-skill="9"] span {
  width: 90%;
}
.skill[data-skill="10"] span {
  width: 100%;
}

.skills-primary::before {
  content: "Main";
}

.skills-secondary::before {
  content: "Other";
}

.skills-secondary .skill {
  opacity: 0.7;
}

.skills-primary::before,
.skills-secondary::before {
  margin-top: 10px;
  display: inline-block;
}

/** Experiences **/

.experience h4 {
  color: red;
  margin-bottom: 3px;
}

.experience-details {
  padding: 3%;
  color: #999;
  margin-left: 10px;
}
.experience-type {
  font-weight: bold;
}
.experience-institution {
  font-weight: normal;
}
.experience-institution::before {
  content: "@ ";
}
.experience-location::before {
  content: "In";
}
.experience-date::before {
  content: " on ";
}
.experience-date-separator {
  color: red;
}

/** Media Queries **/

@media only screen and (max-width: 960px) {
  .content > section {
    width: 100%;
  }

  #contact {
    position: static;
    top: auto;
    right: auto;
  }
  #contact h3 {
    display: block;
  }
}
