header {
    opacity: 50%;
    text-align: center;
}
h1 {
    color: lightblue;
}
li {
    color: rgb(23, 75, 117);
}
img {
    width: 150px;
    height: 150px;
}

ul {
    background-color: lightcyan;
    padding: 30px;

}
footer {
    text-align: center;
    font-size: 12px;
}
/*.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
      
        }
  .menuTab {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    text-decoration: none;
    background-color: #dddddd;
  }
*/

nav {
    display: block;
  }