* {
  flex: none;
}
.countries {
  display: flex;
}
.countries--second .country {
  padding: 0.5em;
}
/* Add your own CSS code below */
.countries--first {
  justify-content: right;
}
.countries--first .country {
  padding: 0.5em;
}
.countries--second {
  justify-content: space-between;
}
.countries--third .country {
  padding: 0.5em;
}
.countries--third {
  flex-direction: column;
}
.countries--fourth .country {
  padding: 0.5em;
}
.countries--fourth {
  flex-direction: column-reverse;
  justify-content: space-between;
}
